<a href="https://colab.research.google.com/github/renuchaurasia/renu_INFO5731_Spring2023/blob/main/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/24/2023, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [29]:
# Python program to calculate the length of a string

def length_sample_str(str):
    return len(str)

str = 'The first in class exercise'

print(length_sample_str(str))

27

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [30]:
# python program to count the number of characters in a string
Sample_str2 = 'google.com'

result = {}
 
for keys in Sample_str2:
    result[keys] = result.get(keys, 0) + 1
 
# printing result
print(result)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [31]:
# python program to sum all the items in a list

sample_list = [10, 20, 23, 1, 6, 7, 10, 11, 74, 84, 72, 9, 81]
sum = 0

for i in sample_list:
    sum = sum+i

print(sum)

408

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [32]:

def change_char(sample_str):
  char = sample_str[0]
  sample_str = sample_str.replace(char, '$')
  sample_str = char + sample_str[1:]

  return sample_str


print(change_char('restart'))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [33]:
# write your answer here
def sum_of_parameters(a,b):
    S = 3.14 * (pow((1+a/b),3))
    return S

print(sum_of_parameters(9,2))

522.4175

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [34]:
# concatenate dictionaries
dic1={1:10, 2:20} 
dic2={3:30, 4:40}
dic3={5:50, 6:60}

result = {}
for d in (dic1, dic2, dic3): result.update(d)
print(result)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [35]:
# to check whether an elemnt exists with in a tuple
sample_tuplex = ("a", 3, 7, 9, "r", "q", "s", "t", 5, 15, "z", "w", "x", "e")
print("r" in sample_tuplex)
print(9 in sample_tuplex)
print("g" in sample_tuplex)

True
True
False

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [36]:
# FInd min and max

sample_set = {5, 0, 31, 154, 22, 20}

max_val = max(sample_set)
min_val = min(sample_set)
print('maximum value:')
print(max_val)
print("\nminimum value:")
print(min_val)

maximum value:
154

minimum value:
0

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [37]:
# Randomly divide the student in class

import random

student_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

random.shuffle(student_list)
result = []

for r in range(0, len(student_list), 5):
  result.append(student_list[r:r+5])

print(result)

[['gn0108', 'ds0814', 'sk1313', 'vb0218', 'sk1386'], ['dr0609', 'kg0470', 'hy0232', 'ak0934', 'ja0964'], ['kg0569', 'ms1500', 'vm0377', 'sk1390', 'sk1458'], ['av0659', 'sg1297', 'jl1252', 'nv0234', 'sc1229'], ['bg0320', 'nm0618', 'sm1640', 'aos0040', 'pr0353'], ['sb1357', 'sa1198', 'fh0141', 'ak0956', 'sm1907']]

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [38]:
# Find duplicate elemnets in a given array of integers
def find_first_duplicate(nums):
    num_set = set()
    no_duplicate = -1

    for i in range(len(nums)):

        if nums[i] in num_set:
            return nums[i]
        else:
            num_set.add(nums[i])

    return no_duplicate

print(find_first_duplicate([1, 1, 5, 2, 3, 4, 4, 5]))
print(find_first_duplicate([1, 2, 3, 4, 6,8,9]))

1
-1

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [39]:
# All sundays of a specified year
from datetime import date, timedelta

def all_sundays_in_a_year(year):
# January 1st of the given year
       Jan_dt_1 = date(year, 1, 1)
# First Sunday of the given year       
       Jan_dt_1 += timedelta(days = 6 - Jan_dt_1.weekday())  
       while Jan_dt_1.year == year:
          yield Jan_dt_1
          Jan_dt_1 += timedelta(days = 7)
          
for s in all_sundays_in_a_year(2023):
   print(s)

2023-01-01
2023-01-08
2023-01-15
2023-01-22
2023-01-29
2023-02-05
2023-02-12
2023-02-19
2023-02-26
2023-03-05
2023-03-12
2023-03-19
2023-03-26
2023-04-02
2023-04-09
2023-04-16
2023-04-23
2023-04-30
2023-05-07
2023-05-14
2023-05-21
2023-05-28
2023-06-04
2023-06-11
2023-06-18
2023-06-25
2023-07-02
2023-07-09
2023-07-16
2023-07-23
2023-07-30
2023-08-06
2023-08-13
2023-08-20
2023-08-27
2023-09-03
2023-09-10
2023-09-17
2023-09-24
2023-10-01
2023-10-08
2023-10-15
2023-10-22
2023-10-29
2023-11-05
2023-11-12
2023-11-19
2023-11-26
2023-12-03
2023-12-10
2023-12-17
2023-12-24
2023-12-31